﻿@model QuanLyPhuKien.Models.brand

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Thương hiệu: @Html.DisplayFor(model => model.name)</h4>
    <hr />
    <dl class="dl-horizontal">
        

        <dd>
            <center><img src="~/Content/img/brand/@Model.img"/></center>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
